{% extends "blog/master.html" %}

{% block meta %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ general.description }}">
    <meta name="author" content="">

{% endblock %}


{% block content %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="my-4">{{ general.name }}
                    <small>Home Page</small>
                </h1>
                {% include 'blog/vendor/post_list.html' %}
            </div>
            {% include 'blog/vendor/sidebar.html' %}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}