{% extends 'layout.html' %}

{% block meta %}
<meta name="description" content="{{ title }}" />
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<br>
<form action="/save/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="inputTitle" class="form-label">Website Title</label>
        <input type="text" class="form-control" id="inputTitle" name="title">
    </div>
    <div class="mb-3">
        <label for="inputDescription" class="form-label">Website Description</label>
        <textarea type="text" class="form-control" id="inputDescription" name="description"></textarea>
    </div>
    <div class="mb-3">
        <label for="inputLogo" class="form-label">Choose a logo</label>
        <input type="file" class="form-control" id="inputLogo" name="logo">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}