{% extends 'layout.html' %}

{% block meta %}
<meta name="description" content="{{ description }}" />
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <img src="{{ logo }}" width="200px">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    <form action="/delete/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Home</button>
    </form>
    
</div>
{% endblock %}